#about {
  background-color: var(--color-secondary-background);
}

.me {
  width: 70%;
  margin: auto;
  border-radius: 50%;
  border: solid 0.6rem var(--color-main);
}

.profile-center {
  display: inline-grid;
  gap: 20px;
}

/* ==========================================MEDIA QUERIES================================ */

@media screen and (max-width: 1024px) {
  .about-me {
    text-align: justify;
  }

  .details {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .me {
    width: 50%;
  }
}


